{% extends 'main/base.html' %}
{% block content %}

<style>

    div.affix {
        top: 0px;
        position: fixed !important ;
       }

      .slick-prev:before, .slick-next:before{
        color:black;
      }

      .overlay {
          position: absolute;
          bottom: 20px;
          left: 0;
          right: 0;
          background-color: #000;
          opacity: 0.7;
          overflow: hidden;
          width: 100%;
          height: 0;
          transition: .5s ease;
        }

.swiper-slide:hover .overlay{
  height: 80%;
}



.owl-theme .owl-nav {
    display: none;
}


.paddingtop{
  color:#fff;
      padding-top: 200px;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
    
   

      @media (max-width:1500px) and (min-width:1200px) {
        .col-lg-8{
          width:58.33333333%;
        }

        .col-lg-4{
          width:41.6666%;
        }

      }
</style>
<main>
<section class="title">
  <div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12" style="margin-top: 60px;">
      <h1><span class="cName" style="color:#4682B4">AvetiZ</span> delivers an exceptional value to real estate
      </h1>  
    </div>
    </div>
  </div>
</section>


  <!-- Search Box Section -->
<div class="container">
  <div class="row">
        <div class="col-md-12">
            <div class="custom-search-input">
               <form method="get" id="queryform" action="{% url 'main:search' %}">
                {% csrf_token %}
                <div class="input-group col-md-12">
                 
                    <input type="text" id="searchTextField" name="address" class="form-control input-lg" placeholder="Enter an Address, City, Suburb, Neighborhood or Zip Code " />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-lg" >
                            Search
                        </button>
                    </span>
                  
                </div>
                </form>
            </div>
        </div>
  </div>
</div>

<!-- Featured Images Section -->

<div class="js-feature">
<div class="container">
<div class="row">
<div class="col-md-2 col-md-push-5 svgcontainer ">
  <div class="loader loader--style1 " title="0">
    <svg width="200px"  height="200px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ball2" style="background: none;">
    <g ng-attr-transform="translate(0,{{config.dy}})" transform="translate(0,-7.5)">
      <circle cx="50" ng-attr-cy="{{config.cy}}" r="0.605904" ng-attr-fill="{{config.c1}}" cy="41" fill="#ff727d" transform="rotate(344.214 50.0001 50.0001)">
        <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
        <animate attributeName="r" calcMode="spline" values="0;15;0" keyTimes="0;0.5;1" dur="1" keySplines="0.2 0 0.8 1;0.2 0 0.8 1" begin="0s" repeatCount="indefinite"></animate>
      </circle>
      <circle cx="50" ng-attr-cy="{{config.cy}}" r="14.3941" ng-attr-fill="{{config.c2}}" cy="41" fill="#ffd391" transform="rotate(524.214 50 50)">
        <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="180 50 50;540 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
        <animate attributeName="r" calcMode="spline" values="15;0;15" keyTimes="0;0.5;1" dur="1" keySplines="0.2 0 0.8 1;0.2 0 0.8 1" begin="0s" repeatCount="indefinite"></animate>
      </circle>
    </g>
  </svg>
  </div>
</div>
</div></div>

</div>

<!-- Recently Listed Properties/Images Section -->


<!-- Container (Services Section) -->

<div class="container">
<section class="signUp">

 <div class="row">
   <h4><strong>Reasons to Purchase Properties From Avetiz</strong></h4>
  </div>
 
  <div class="row signupRow">
    <div class="rSignUp text-center">
    <div class="col-sm-4 col1">
     <i class="fa fa-lock" aria-hidden="true"></i>
      <h4>Safe</h4>
      <p>In AvetiZ, the safety of your investment is our priority. We pre-vet every listed property for fraud, locations, pricing, and market trends. Every product is backed by iron-clad agreements writtent to protect all clients and their investments. Our legal team conducts thorough verification on our developers and only approves a project once it passes our rigorous standards.</p>
    </div>
    <div class="col-sm-4 col2">
     <i class="fa fa-money" aria-hidden="true"></i>
      <h4>Discounted Prices</h4>
      <p>We reach out to you in discounted prices. We negotiate with developers on discount rates that cannot be gotten elsewhere and produce detailed analysis to enable investors make an informed investment decision. Our focus is on people who want to invest not only in Nigeria but other foreign countries. That is why we offer plenty of valued discounted opportunities and align our interest with investors.</p>
      </div>

      <div class="col-sm-4 col3">
     <i class="fa fa-search" aria-hidden="true"></i>
      <h4 class="pReseachH">Proprietorship Research</h4>
      <p class="pResearch">AvetiZ Propriety Research is deeply involved in portfolio diversification, client advisory and strategy analysis as we seek to optimize investment and satisfy our clients. Our proprietary systems are built around the principles of transparency, simplicity, satisfaction and verification just to ensure safe custody of your investments. At every stage of the investment process which includes the development of investment strategies, transaction underwriting and execution, construction of portfolio and capital allocation strategies, our system is structured with mechanism to guide you.</p>
      </div>

      
     
    </div>
    </div>
  
</section>
</div>


<div class="container">
<section class="videoSliderSection">
    <div class="row">
    <div class="col-xs-1 vFirstCol">
    <button type="button" id="goToPrevSlide">...</button>
    </div>
    <div class="col-xs-10">
              <div class="text-center">
              <span class="demoHeadline">Know More, Move Faster</span>
              </div>
              <div class="item">     
                  <div class="clearfix">
                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden"> 
                        <li class="slist"> 
                        <a href="#videomodal" data-toggle="modal">
                            <img class="simg" src="https://qph.ec.quoracdn.net/main-qimg-f12cf4f70be1f06f7dea1558a5a31477-c"/>
                        </a>
                            <div class="margin20">
                             <span class="stext">Turn one offer on your home into a biddin war</span>
                             </div>
                        </li>
                        <li class="slist"> 
                            <img class="simg" src="https://i.ytimg.com/vi/zPOtWigSsso/maxresdefault.jpg" />
                            <div class="margin20">
                              <span class="stext">Close without a hitch</span>
                            </div>
                        </li>
                        <li class="slist"> 
                            <img class="simg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3Enjr4HoTcv-dtDSaZcc4cwgFaWfevQoilyS2Sn3IByHxXfvQ" />
                            <div class="margin20">
                             <span class="stext">Turn one offer on your home into a biddin war</span>
                             </div>
                        </li>               
                        
                    </ul>

                </div>
            </div>
    </div>
   
    <div class="col-xs-1 vSecondCol"> <button type="button" id="goToNextSlide">...</button></div>
    </div>
    </section>
    </div>




    <div class="container">
    <section class="lenderSection">
      <div class="row">
        <p>Finance tools and information</p>
        <h2>Mortgage Lenders</h2>
        <p>Get current mortgage rates, connect with lenders in your area, and stay informed.</p>
        <form action=/lenders/ id="lenderform" method="post">
          {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control" name="mortage_query" id="lender" placeholder="City or Zip Code" aria-describedby="basic-addon2">
          
          <span class="input-group-btn">
           <button class="btn btn-lg lenderBtn" type="submit">Find a Lender</button>
         </span>
        </div>
      </form>
        </div>

      </section>
      </div>

  </main>

   <div id="videomodal" class="modal fade" role="dialog">
           
           <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
             <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">AvetiZ 3D Walkthrough</h4>
              </div>
              <div class="modal-body" id="expandmap">
           <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="modal-footer">
              <p>Attract buyers with a 3D walkthrough of your home, included when you list with a AvetiZ agent </p>
            </div>
            
          <div class="col-sm-6 col-sm-offset-2"></div>
            </div>

           </div>
         </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="http://test.sagecapitals.com/js/owl.carousel.min.js"></script>

  <script>
    var options = {
  
  componentRestrictions: {country: ['ng', 'fr', 'usa']}
};
    function initialize() {
  var input = document.getElementById('searchTextField');
  
  let autocomplete=new google.maps.places.Autocomplete(input,options);

   autocomplete.addListener('place_changed', function () {
      $('#queryform').submit();      
      })


}


var input = document.getElementById('lender');
let autocomplete=new google.maps.places.Autocomplete(input, options);
autocomplete.addListener('place_changed', function () {
      console.log('crazy')
      $('#lenderform').submit();      
      })







google.maps.event.addDomListener(window, 'load', initialize);


$(document).ready(function(){


  geoFindMe();

  var slider= $('#image-gallery').lightSlider({
                    item:1,
                    slideMargin: 0,
                    speed:200,
                    auto:false,
                    loop:true,
                    adaptiveHeight:true,
                    controls: false,
                    onSliderLoad: function() {
                        $('#image-gallery').removeClass('cS-hidden');
                    }  
                });
         $('#goToPrevSlide').on('click', function () {
          slider.goToPrevSlide();
          });
        $('#goToNextSlide').on('click', function () {
          slider.goToNextSlide();
          });

 });

   activate_owl();




  </script>
{% endblock %}
{% block title %}Home | AvetiZ{% endblock %}