{% extends 'main/base.html' %}
{% block content %}

<style>

    div.affix {
        top: 0px;
        position: fixed !important ;
       }

      .slick-prev:before, .slick-next:before{
        color:black;
      }

      .overlay {
          position: absolute;
          bottom: 20px;
          left: 0;
          right: 0;
          background-color: #000;
          opacity: 0.7;
          overflow: hidden;
          width: 100%;
          height: 0;
          transition: .5s ease;
        }

.swiper-slide:hover .overlay{
  height: 80%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
    
   

      @media (max-width:1500px) and (min-width:1200px) {
        .col-lg-8{
          width:58.33333333%;
        }

        .col-lg-4{
          width:41.6666%;
        }

      }
</style>
<main>
<section class="title">
  <div class="container">
  <div class="row">
    <div class="col-md-7 col-sm-12">
      <h1><span class="cName">AvetiZ</span> offers a sophisticated platform which provides highly flexible solutions.
      </h1>  
    </div>
    </div>
  </div>
</section>


  <!-- Search Box Section -->
<div class="container">
  <div class="row">
        <div class="col-md-12">
            <div class="custom-search-input">
               <form method="get" action="{% url 'main:search' %}">
                {% csrf_token %}
                <div class="input-group col-md-12">
                 
                    <input type="text" id="searchTextField" name="address" class="form-control input-lg" placeholder="Enter an Address, City, Suburb, Neighborhood or Zip Code " />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-lg" >
                            Search
                        </button>
                    </span>
                  
                </div>
                </form>
            </div>
        </div>
  </div>
</div>

<!-- Featured Images Section -->
<div class="container">
<section class="featuredPropertySection" >
 <div class="row">
   <h4><strong>Featured Properties</strong></h4>
  </div>
<div class='row'>

	
    
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-md-4 col-sm-6 pic nopadding">
                <a href="#"><img alt="" src="https://si.wsj.net/public/resources/images/OB-QY906_hotwea_HD_20111212143922.jpg"></a>
                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span class="fPrice"> ₦11,000,000</span>
                      <span class="fAddress">House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4 num-right"><span class="num">2</span> Beds</div>
                      <div class="col-xs-4 num-right"><span class="num">2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <span class="fCity"><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="fListed text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div>

                <div class="alisted">Listed By AvetiZ</div>
                

              </div>     

              <div class="col-md-4 col-sm-6 pic nopadding">
                <a href="#"><img alt="" src="https://www.e-architect.co.uk/images/jpgs/south_africa/brian-road-residence-n260413-10.jpg"></a>

                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span class="fPrice">₦11,000,000</span>
                      <span class="fAddress">House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4 num-right"><span class="num">2</span> Beds</div>
                      <div class="col-xs-4 num-right"><span class="num">2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <span class="fCity"><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="fListed text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div>

                <div class="alisted">Listed By AvetiZ</div>

              </div>

              <div class="col-md-4 hidden-sm pic nopadding">
                <a href="#"><img alt="" src="https://deyoungproperties.com/wp-content/uploads/2016/04/DeYoung-Properties-Solar-Panels-3-1024x576.jpg"></a>

                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span class="fPrice"> ₦11,000,000</span>
                      <span class="fAddress">House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4 num-right"><span class="num">2</span> Beds</div>
                      <div class="col-xs-4 num-right"><span class="num">2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <span class="fCity"><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="fListed text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div>

                <div class="alisted">Listed By AvetiZ</div>
              </div>  
              
 
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4 col-sm-6 pic nopadding">
                <a href="#"><img alt="" src="http://spraytechja.com/v1/wp-content/uploads/2013/04/Beautiful-Houses-HD-Wallpapers-2.jpg"></a>

                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span class="fPrice"> ₦11,000,000</span>
                      <span class="fAddress">House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4 num-right"><span class="num">2</span> Beds</div>
                      <div class="col-xs-4 num-right"><span class="num">2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <span class="fCity"><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="fListed text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div> 
                <div class="alisted">Listed By AvetiZ</div>

              </div> 

              <div class="col-md-4 col-sm-6 pic nopadding">
                <a href="#"><img alt="" src="https://www.e-architect.co.uk/images/jpgs/south_africa/brian-road-residence-n260413-10.jpg"></a>
                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span class="fPrice">₦11,000,000</span>
                      <span class="fAddress">House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4 num-right"><span class="num">2</span> Beds</div>
                      <div class="col-xs-4 num-right"><span class="num">2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <span class="fCity"><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="fListed text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div>

                <div class="alisted">Listed By AvetiZ</div>

              </div>

              <div class="col-md-4 hidden-sm pic nopadding">
                <a href="#"><img alt="" src="https://dmacpropertyservices.com/wp-content/uploads/2014/06/Kerala-Style-Home-Wallpapers-HD-620x412.jpg"></a>

                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span class="fPrice"> ₦11,000,000</span>
                      <span class="fAddress">House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4 num-right"><span class="num">2</span> Beds</div>
                      <div class="col-xs-4 num-right"><span class="num">2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <span class="fCity"><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="fListed text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div>
   
             <div class="alisted">Listed By AvetiZ</div>
            </div>
          </div>

        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    </div-->
  
  </div>

</section>
</div>

<!-- Recently Listed Properties/Images Section -->

<div class="container">
<section class="recentlyListedSection">
 <div class="row">
   <h4><strong>Recently Listed Properties</strong></h4>
  </div>

  <div class='row'>
      <div class="carousel slide media-carousel" id="media2">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 nopadding">
                <a class ="" href="#"><img alt="" src="https://si.wsj.net/public/resources/images/OB-QY906_hotwea_HD_20111212143922.jpg" class="img-responsive"></a>
                
                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span>₦11,000,000</span>
                      <span>House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4"><span>2</span> Beds</div>
                      <div class="col-xs-4"><span>2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <span><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div>
   
               <div class="property-price">
                  <span>₦2,500,000</span>
                </div>
              </div>     

              <div class="col-lg-3 col-md-6 col-sm-6 nopadding">
                <a href="#"><img alt="" src="http://spraytechja.com/v1/wp-content/uploads/2013/04/Beautiful-Houses-HD-Wallpapers-2.jpg"></a>

                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span> ₦11,000,000</span>
                      <span>House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4"><span>2</span> Beds</div>
                      <div class="col-xs-4"><span>2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-xs-6">
                      <span><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div>

                <div class="property-price">
                  <span>₦3,500,000</span>
                </div>


              </div>

              <div class="col-lg-3 hidden-md hidden-sm nopadding">
                <a href="#"><img alt="" src="http://4.bp.blogspot.com/-zvqo6b3nAts/VIXHIwkXbmI/AAAAAAABJP4/moZfEINVYt0/s1600/california5.jpg"></a>

                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span> ₦11,000,000</span>
                      <span>House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4"><span>2</span> Beds</div>
                      <div class="col-xs-4"><span>2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <span><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div>

                <div class="property-price">
                  <span>₦3,700,000</span>
                </div>


              </div> 

               <div class="col-lg-3 hidden-md hidden-sm nopadding">
                <a href="#"><img alt="" src="https://deyoungproperties.com/wp-content/uploads/2016/04/DeYoung-Properties-Solar-Panels-3-1024x576.jpg"></a>

                <div class="property-price">
                  <span>₦5,300,000</span>
                </div>

                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span> ₦11,000,000</span>
                      <span>House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4"><span>2</span> Beds</div>
                      <div class="col-xs-4"><span>2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <span><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div>
              </div> 
                 
            </div>
          </div>
          <div class="item">
           <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 nopadding">
                <a href="#"><img style="display: block;" alt="" src="https://dmacpropertyservices.com/wp-content/uploads/2014/06/Kerala-Style-Home-Wallpapers-HD-620x412.jpg" class="img-responsive"></a>
                
                <div class="property-price">
                  <span>₦2,500,000</span>
                </div>
                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span> ₦11,000,000</span>
                      <span>House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4"><span>2</span> Beds</div>
                      <div class="col-xs-4"><span>2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <span><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div>
              </div>     

              <div class="col-lg-3 col-md-6 col-sm-6 nopadding">
                <a href="#"><img alt="" src="http://spraytechja.com/v1/wp-content/uploads/2013/04/Beautiful-Houses-HD-Wallpapers-2.jpg"></a>

                <div class="property-price">
                  <span>₦3,500,000</span>
                </div>

                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span> ₦11,000,000</span>
                      <span>House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4"><span>2</span> Beds</div>
                      <div class="col-xs-4"><span>2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <span><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div>
              </div>

              <div class="col-lg-3 hidden-md nopadding">
                <a href="#"><img alt="" src="https://www.e-architect.co.uk/images/jpgs/south_africa/brian-road-residence-n260413-10.jpg"></a>

                <div class="property-price">
                  <span>₦3,700,000</span>
                </div>

                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span>₦11,000,000</span>
                      <span>House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4"><span>2</span> Beds</div>
                      <div class="col-xs-4"><span>2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <span><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div>
              </div> 

               <div class="col-lg-3 hidden-md hidden-sm nopadding">
                <a href="#"><img alt="" src="http://spraytechja.com/v1/wp-content/uploads/2013/04/Beautiful-Houses-HD-Wallpapers-2.jpg"></a>

                <div class="property-price">
                  <span>₦5,300,000</span>
                </div>

                 <div class="show">
                  <div class="text">
                   <div class="row">
                    <div class="col-xs-6 bold">
                      <span> ₦11,000,000</span>
                      <span>House A11, Nicon Plaza</span>
                      
                    </div>
                    <div class="col-xs-6 bold">
                    <div class="row text-center">
                      <div class="col-xs-4"><span>2</span> Beds</div>
                      <div class="col-xs-4"><span>2</span> Baths</div>
                      <div class="col-xs-4"><span class="num">1120</span> Sq.Ft</div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <span><small>Asokoro, Abuja</small></span>
                    </div>

                    <div class="col-xs-6">
                      <span class="text-center"><small>Listed By AvetiZ</small></span>
                    </div>
                  </div>

                   </div>
                </div>
              </div> 
                 
            </div>
            
          </div>

        </div>
        <a data-slide="prev" href="#media2" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media2" class="right carousel-control">›</a>
      </div>                          
  </div>

<div class="row">
  <div class="col-xs-12 text-center">
  <a href="recent-listing.html" class="btn btn-lg btn-default listingBtn">Find More Listings</a>
  </div>
</div>

</section>
</div>

<!-- Container (Services Section) -->

<div class="container">
<section class="signUp">

 <div class="row">
   <h4><strong>Reasons to Purchase Properties</strong></h4>
  </div>
 
  <div class="row signupRow">
    <div class="rSignUp text-center">
    <div class="col-sm-4 col1">
     <i class="fa fa-lock" aria-hidden="true"></i>
      <h4>Safe</h4>
      <p>In AvetiZ, the safety of your investment is our priority. We pre-vet every listed property for fraud, locations, pricing, and market trends. Every product is backed by iron-clad agreements writtent to protect all clients and their investments. Our legal team conducts thorough verification on our developers and only approves a project once it passes our rigorous standards.</p>
    </div>
    <div class="col-sm-4 col2">
     <i class="fa fa-money" aria-hidden="true"></i>
      <h4>Discounted Prices</h4>
      <p>We reach out to you in discounted prices. We negotiate with developers on discount rates that cannot be gotten elsewhere and produce detailed analysis to enable investors make an informed investment decision. Our focus is on people who want to invest not only in Nigeria but other foreign countries. That is why we offer plenty of valued discounted opportunities and align our interest with investors.</p>
      </div>

      <div class="col-sm-4 col3">
     <i class="fa fa-search" aria-hidden="true"></i>
      <h4 class="pReseachH">Proprietorship Research</h4>
      <p class="pResearch">AvetiZ Propriety Research is deeply involved in portfolio diversification, client advisory and strategy analysis as we seek to optimize investment and satisfy our clients. Our proprietary systems are built around the principles of transparency, simplicity, satisfaction and verification just to ensure safe custody of your investments. At every stage of the investment process which includes the development of investment strategies, transaction underwriting and execution, construction of portfolio and capital allocation strategies, our system is structured with mechanism to guide you.</p>
      </div>

      
     
    </div>
    </div>
  
</section>
</div>


<div class="container">
<section class="videoSliderSection">
    <div class="row">
    <div class="col-xs-1 vFirstCol">
    <button type="button" id="goToPrevSlide">...</button>
    </div>
    <div class="demo col-xs-10">
              <div class="text-center">
              <span class="demoHeadline">Know More, Move Faster</span>
              </div>
              <div class="item">     
                  <div class="clearfix">
                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden"> 
                        <li class="slist"> 
                        <a href="#videomodal" data-toggle="modal">
                            <img class="simg" src="https://qph.ec.quoracdn.net/main-qimg-f12cf4f70be1f06f7dea1558a5a31477-c"/>
                        </a>
                            <div class="margin20">
                             <span class="stext">Turn one offer on your home into a biddin war</span>
                             </div>
                        </li>
                        <li class="slist"> 
                            <img class="simg" src="https://i.ytimg.com/vi/zPOtWigSsso/maxresdefault.jpg" />
                            <div class="margin20">
                              <span class="stext">Close without a hitch</span>
                            </div>
                        </li>
                        <li class="slist"> 
                            <img class="simg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3Enjr4HoTcv-dtDSaZcc4cwgFaWfevQoilyS2Sn3IByHxXfvQ" />
                            <div class="margin20">
                             <span class="stext">Turn one offer on your home into a biddin war</span>
                             </div>
                        </li>               
                        
                    </ul>

                </div>
            </div>
    </div>
    <div id="videomodal" class="modal fade" role="dialog">
           
           <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
             <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">AvetiZ 3D Walkthrough</h4>
              </div>
              <div class="modal-body" id="expandmap">
           <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="modal-footer">
              <p>Attract buyers with a 3D walkthrough of your home, included when you list with a AvetiZ agent </p>
            </div>
            
          <div class="col-sm-6 col-sm-offset-2"></div>
            </div>

           </div>
         </div>
    <div class="col-xs-1 vSecondCol"> <button type="button" id="goToNextSlide">...</button></div>
    </div>
    </section>
    </div>




    <div class="container">
    <section class="lenderSection">
      <div class="row">
        <p>Finance tools and information</p>
        <h2>Mortgage Lenders</h2>
        <p>Get current mortgage rates, connect with lenders in your area, and stay informed.</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="City or Zip Code" aria-describedby="basic-addon2">
          
          <span class="input-group-btn ">
           <button class="btn btn-lg lenderBtn" type="button"><i class="fa fa-search" aria-hidden="true"></i> Find a Lender</button>
              </span>
        </div>
        </div>

      </section>
      </div>

  </main>

{% endblock %}

{% block scripts %}
  <script>
    function initialize() {
  var input = document.getElementById('searchTextField');
  var options = {
  
  componentRestrictions: {country: ['ng', 'fr', 'usa']}
};
  new google.maps.places.Autocomplete(input,options);
}

google.maps.event.addDomListener(window, 'load', initialize);
  </script>
{% endblock %}