{% extends 'main/base.html' %}
{% block inlinestyle %}
	<style>
	.container{
		max-width: 1050px;
		font-family: 'Raleway', sans-serif;
	}

	.form-control {
    border-radius: 0px;
    height: 40px;
	}

	</style>
{% endblock %}


{% block content %}	

	<div class="container" style="margin-top: 100px;">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<h2>
								Start an Offer
							</h2>
							<p>You get second-to-none service and still save thousands in closing costs. We recommend homes you may have missed and get you in to see them before the competition.</p>
						</div>
					</div>
					<div class="row smallcard" style="height: auto;">
						<div class="col-md-2 agentimg" style="background-image: url(https://ssl.cdn-redfin.com/system_files/images/7611/150x150/1_26.jpg)">
							
						</div>
						<div class="col-md-5">
							<div class="row">
								<h4 style="font-weight: bold;">Kris Paolini</h4>
								<h5 style="color:red">AVETIZ AGENT</h5>
							</div>
							<div class="row">
								<p style="font-size: 15px;">Typically responds within 9 minutes during business hours.</p>
							</div>
							<div class="row">
								<span style="color:#0c82a5; font-weight: bold;" ><i class="fa fa-phone"></i> &nbsp; &nbsp; <span style="font-size: 15px;">(+234) 8100495270</span></span>
							</div>
						</div>
						

						     <div class="col-md-5 dontwantpadding" style="padding-right: 3px !important;padding-left: 6px !important;" >
							        <div class="property" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(https://photos.zillowstatic.com/p_e/ISqxub0v7tbxvj1000000000.jpg); ">
							        
							        
							        <div class="paddingtop" style="padding-top: 60px;">
							          <div class="row">
							            <div class="col-sm-6">
							              <span class="money white" style="font-size: 15px;" >₦11,000</span><br>
							              <span class="address white">1513 Hampton Hill </span><br>
							               <span class="city white" style="position: relative; top:-5px;">Mclean, VA 22101</span>
							            </div>
							            
							            <div class="col-md-5">
							              <div class="row">
							                <div class="col-md-4 bottomright" >
							                  <span class="numbershit white text-center" style="font-size: 10px;" >4</span><br><span class="address white" style="float:left; font-size: 10px;">Beds</span>
							                </div>
							                <div class="col-md-4 bottomright" >
							                  <span class="numbershit text-center white" >3</span><br><span class="address white" style="float:left; font-size: 10px;">Bath</span>
							                </div>
							                <div class="col-md-4 bottomright" >
							                  <span class=" white " style="font-size: 10px;" >3000</span><br><span class="address white" style="float:left; font-size: 10px;">sqft</span>
							                </div>
							              </div>
							              <div class="row">
							                <div class="col-md-12" style="padding-right: : 0px; padding-left: 15px;">
							                <span class="address white" style="position: relative;
							    top: 5px; font-size: 10px;" >Great developer</span>
							                </div>
							              </div>

							            </div>
							          </div>

							        </div>
							       
							        </div>






							</div>

						

					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="col-md-12" style="font-weight: bold">
					<p>Buy with Kris and you'll get a $3,525 commission refund.</p>
				</div>

			</div>
			<hr>

		<div class="row">
			
				<h3>
					Tell Us About Yourself
				</h3>
			<form class="">
			<div class="row">
				<div class="col-md-6">
					
						<div class="form-group">
							<label>First Name</label>
							<input class="form-control" placeholder="First Name" type="text">
						</div>
						<div class="form-group">
							<label>Email</label>
							<input class="form-control" placeholder="Email" type="email">
						</div>

					
				</div>
				<div class="col-md-6">
					<div class="form-group">
							<label>Last Name</label>
							<input class="form-control" placeholder="Last Name" type="text">
					</div>
					<div class="form-group">
							<label>Phone</label>
							<input class="form-control" placeholder="( &nbsp; &nbsp;) -" type="text">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3>
					More Details (Optional)
					</h3>
				</div>
				<div class="col-md-12">
					<p>How much would you like to offer?</p>
				</div>
				<div class="col-md-6">
					<div class="form-group">
							
							<label class="radio-container">Loan
							  <input type="radio" name="method" checked="checked">
							  <span class="checkmark"></span>
							</label>
					</div>
					
				</div>
				<div class="col-md-6">
					<div class="form-group">
							
							<label class="radio-container">All Cash
							  <input type="radio" name="method" >
							  <span class="checkmark"></span>
							</label>
					</div>
					
				</div>
				<div class="col-md-12">
					<p>Have you toured this home in person?</p>
				</div>
				<div class="col-md-6">
					<div class="form-group">
							
							<label class="radio-container">Yes
							  <input type="radio" name="toured" checked="checked">
							  <span class="checkmark"></span>
							</label>
					</div>
					
				</div>
				<div class="col-md-6">
					<div class="form-group">
							
							<label class="radio-container">No
							  <input type="radio" name="toured" >
							  <span class="checkmark"></span>
							</label>
					</div>
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>Comment</label>
						<textarea class="form-control"  rows="5" placeholder="Hi Kris, please help me put together an offer for 1990 Lancashire Dr." value=""></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<button class="form-control btncontact" style="font-weight: bold">Start An Offer</button>
					</div>
				</div>
			</div>
		</form>
		</div>

		</div>
	</div>

{% endblock %}