<div class="col-md-4">
				<div class="agentcard" >
					<div class="agentimg" style="background-image: url({{agent.profile.url}});">
						<span class="rec">RECOMMENDED</span>
						<div class="recentDeals"><span class="dealCount">46</span>Recent<br>Deal<!-- -->s</div>
						<div class="agentTypeBadge"><div class="sellside">{{agent.developer.name}}</div></div>
					</div>
					<div class="basicinfo row">
						<div class="col-md-7">
							<div class="row">
								<div class="col-md-12">
									<a href="#" class="agentname">{{agent.developer.name}}</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12" style="margin-top: 10px;">
									<span ><i class="fa fa-phone"></i> <span style="font-size: 15px;">{{agent.phone}}</span></span>
							    </div>
							</div>
							<div class="row">
								<div class="col-md-12" style="margin-top: 10px;">
									
									<span style="font-size: 15px;">{{agent.rating}}<span style="color:gold"> Rating</span> <span style="color: #0c82a5;">139 Reviews</span></span>
							    </div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="row">
								
									<button class="btn btn-primary" style="background-color: #f5f5f5;
			}
    border: 1px solid #ccc; color:#000;">Contact Us</button>
						
							</div>
						</div>
						</div>
					</div>

				</div>