<div class="property" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url({{property.thumbnail.url}}); ">
              
        
        
       
        <div class="paddingtop" style="padding-bottom: 30px;">
          <div class="row">
            <div class="col-xs-6">
              <span class="money js-price">₦{{property.price}}</span><br>
              <span class="address">{{property.full_address}}</span><br>
               
            </div>
            <div class="col-xs-2">
              
            </div>
            <div class="col-xs-5">
              <div class="row">
                <div class="col-xs-4 bottomright" >
                  <span class="numbershit text-center" >{{property.bedroom}}</span><br><span class="address" style="float:left;">Beds</span>
                </div>
                <div class="col-xs-4 bottomright" >
                  <span class="numbershit text-center" >{{property.bathroom}}</span><br><span class="address" style="float:left;">Bath</span>
                </div>
                <div class="col-xs-4 bottomright" >
                  <span class="" >{{property.area}}</span><br><span class="address" style="float:left;">sqft</span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12" style="padding-right: : 0px; padding-left: 15px;">
                <span class="address" style="position: relative;
    top: 5px;" >{{property.developer.name}}</span>
                </div>
              </div>

            </div>
          </div>

        </div>
</div>  

