.center img, .center .containimage{
    height: 350px;
    position: relative;
    top: -27px;
    box-shadow: 0 2px 2px -1px #aaa;
    transition: height 2s;
    
  }

  .containimage{
    margin-top:20px;
    margin-bottom: 20px;
  }


  .owl-carousel .owl-stage-outer {
  
    overflow: hidden;
    margin-top:50px;
    }